<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Photo List</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('photos')"></th:block>
<h1 class="text-center">FOTO</h1>
<div class="container">
    <a th:href="@{/photos/create}" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Add a Photo</a>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Is Visible</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photoList}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td></td>
            <td th:text="*{isVisible}"></td>
            <td><a class="btn btn-primary btn-sm" th:href="@{|/photos/*{id}|}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>